.product {
    height: 80%;
    width: 100vw;
    //border: 2px solid plum;

    

    //CSS RESET
    figure,
    figcaption {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

    /*------------------------------------------------------------------------------------------------------------------------------*/

    .gallery {
        display: flex;
        padding: 5% 1%;
        transition: .3s;
        position: absolute;
        top: 0;
        left: 0;
        //width: 100vw;

        &:hover &__image {
            filter: grayscale(1);
        }

        &__column {
            display: flex;
            flex-direction: column;
            width: 25%;
        }

        &__link {
            margin: 1vw;
            overflow: hidden;

            .gallery__image {
                filter: grayscale(1);
                // filter: sepia(1);
                // filter: hue-rotate(9deg);
                // filter: invert(12%) sepia(90%) saturate(50%) hue-rotate(-47deg); //-74, -27
            }

            &:hover {
                .gallery__image {
                    filter: grayscale(0);
                    filter: sepia(0);
                }

                .gallery__caption {
                    opacity: 1;
                }
            }
        }

        &__thumb {
            position: relative;
        }

        &__image {
            display: block;
            width: 100%;
            transition: .3s;

            &:hover {
                transform: scale(1.1);
            }
        }

        &__caption {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 25px 15px 15px;
            width: 100%;
            font-family: 'Raleway', sans-serif;
            font-size: 16px;
            color: white;
            opacity: 0;
            background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 100%);
            transition: .3s;
        }
    }

}